html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $default;
  overflow-x: hidden;
  min-width: 320px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  li{
    padding: 0 15px;
  }
  
  button{
    background-color: black;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    font-style: 0;
  }
  li.slick-active{
    text-align: center;
    align-items: center;
    button{
    background-color: rgb(15, 40, 230);
    color: #ffffff;
  }
  }
}
