html,body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: #fff;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper{
  min-height: 100%;
  overflow: hidden;
}

// img {
//   max-width: 100%;
//   height: auto;
// }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 15px;
  @media screen and (min-width: 420px) {
    max-width: 768px;
    padding: 10px 10px;
 }
  @media screen and (min-width: 768px) {
    max-width: 1340px;
    padding: 5px 5px;
 }
}
