@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
   max-width: 420px;
   &_menu {
      display: none;
      @media screen and (min-width: 420px) {
         display: flex;
      }
   }

   &_burgerMenu {
      position: relative;
      width: 30px;
      height: 1px;
      background-color: #000000;
      &::before {
         content: '';
         position: absolute;
         top: -10px;
         width: 30px;
         height: 1px;
         background-color: #000000;
      }
      &::after {
         content: '';
         position: absolute;
         top: 10px;
         width: 30px;
         height: 1px;
         background-color: #000000;
      }
      @media screen and (min-width: 420px) {
         display: none;
      }
   }

   &_logo {
      margin-left: auto;
      margin-right: 170px;
   }
   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 102px;
      width: 100%;
   }
   &__btn {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
   }
}

.menu {
   padding-right: 15px;
   &__list {
      display: flex;
   }
   &__list-item {
      padding-right: 45px;
      padding-left: 35px;
   }
   &__list-link {
      @extend %title-font;
      color: rgba(54, 56, 56, 0.9033);
      line-height: 22px;
   }
   &__list-link--active {
      padding-bottom: 4px;
      position: relative;
      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 2px;
         border-radius: 1px;
         background-color: rgba($title, 0.7);
      }
   }
}

.project {
   width: 100%;
   height: 100%;
   &_wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
   }

   &_title {
      font-weight: 600;
      font-size: 44px;
      width: 194px;
      height: 64px;
   }
   &_title--span {
      font-weight: 600;
      font-size: 44px;
      width: 194px;
      height: 64px;
   }
   &_images {
      min-width: 490px;
      height: auto;
      max-width: 470px;
      object-fit: contain;
   }
}

.ourProject {
   &_title {
      font-weight: 600;
      font-size: 44px;
      width: 427px;
      height: 64px;
   }
   &_title--span {
      font-weight: 600;
      font-size: 44px;
      width: 194px;
      height: 64px;
   }
   &_imgWrapper {
      display: grid;
      grid-template-columns: 1fr;
      gap: 5px;
      @media screen and (min-width: 420px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         flex-wrap: wrap;
      }
   }
   &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      right: 0;
   }
   &_img--wrapper {
      padding: 0px 0px 56% 0px;
      overflow: hidden;
      position: relative;
   }
   &_img5 {
      background-color: #000000;
      object-position: top left;
      @media screen and (min-width: 420px) {
         //  position: absolute;
         //  top: 0;
         //  right: 0;
         //  width: 570px;
         //  height: 255px;
      }
   }
   &_img1 {
      @media screen and (min-width: 420px) {
         //  position: absolute;
         //  top: 100px;
         //  right: 200px;
         //  width: 570px;
         //  height: 255px;
      }
   }
   &_img2 {
      @media screen and (min-width: 420px) {
         //  position: absolute;
         //  top: 200px;
         //  right: 200px;
         //  width: 270px;
         //  height: 255px;
      }
   }
   &_img3 {
      @media screen and (min-width: 420px) {
         //  position: absolute;
         //  top: 300px;
         //  right: 200px;
         //  width: 470px;
         //  height: 255px;
      }
   }
   &_img4 {
      @media screen and (min-width: 420px) {
         //  position: absolute;
         //  top: 400px;
         //  right: 200px;
         //  width: 370px;
         //  height: 255px;
      }
   }
   &_btn {
      width: 200px;
      height: 50px;
      background-color: #000000;
      border: none;
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      text-align: center;
      margin-top: 5px;
   }
}

.contactUs {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 0px 12px;
   margin-top: 120px;
   @media screen and (min-width: 420px) {
      display: flex;
      flex-direction: row-reverse;
   }
   &_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      object-position: top right;
   }
   &_img--wrapper {
      width: 750px;
      height: auto;
      // padding: 0px 0px 56% 0px;
      overflow: hidden;
      position: relative;
   }
   &_title {
      font-weight: 500;
      font-size: 50px;
      width: 427px;
      height: 64px;
      color: #bdbdbd;
   }
   &_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
   }
   &_form {
      display: flex;
      flex-direction: column;
      width: 491px;
      gap: 10px;
   }
   &_form-input {
      width: 390px;
      height: 50px;
      border: none;
      border-radius: 3px;
      padding-left: 20px;
      background-color: #f3f3f3;
   }
   &_form-textarea {
      height: 147px;
      width: 390px;
      padding-left: 20px;
      border: none;
      border-radius: 3px;
      background-color: #f3f3f3;
   }
   &__form-button {
      max-width: 220px;
      height: 70px;
      background-color: #333333;
      border: none;
      color: #ffffff;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      padding-left: 35px;
      text-align: start;
      margin-top: 5px;
      position: relative;
      &::before {
         content: '';
         background-image: url(../images/icon/svg/ico-shape.svg);
         background-repeat: no-repeat;
         position: absolute;
         width: 30px;
         height: 30px;
         top: 33px;
         left: 142px;
      }
      &:hover {
         background-color: #ffffff;
         color: #000000;
         border: 1px solid #000000;
      }
   }
}

.footer {
   margin-bottom: 10px;
   margin: 0 auto;
   margin-top: 120px;
  
   background-color: #333333;
   color: #fff;
   &_social {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 200px;
      height: 60px;
   }
   &_social--title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
   }
   &_social--list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
   }
   &_social--item {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &_social--link {
   }
   &_social--facebook {
   }
   &_burgerMenu {
      position: relative;
      width: 30px;
      height: 1px;
      background-color: #fff;
      &::before {
         content: '';
         position: absolute;
         top: -10px;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      &::after {
         content: '';
         position: absolute;
         top: 10px;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      @media screen and (min-width: 420px) {
         display: none;
      }
   }
   @media screen and (min-width: 420px) {
      display: flex;
      flex-direction: row;
   }
   @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      height: 420px;
      padding: 58px;
   }
   &_burgerMenu {
      position: relative;
      width: 30px;
      height: 1px;
      background-color: #fff;
      &::before {
         content: '';
         position: absolute;
         top: -10px;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      &::after {
         content: '';
         position: absolute;
         top: 10px;
         width: 30px;
         height: 1px;
         background-color: #fff;
      }
      @media screen and (min-width: 420px) {
         display: none;
      }
   }

   &_ourInfo {
      display: none;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (min-width: 420px) {
         display: none;
         width: 700px;
      }
      @media screen and (min-width: 768px) {
         display: flex;
         width: 700px;
      }
   }
   &_ourInfo--text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: start;
      color: #fff;
      @media screen and (min-width: 420px) {
         width: 400px;
      }
      @media screen and (min-width: 768px) {
         justify-content: flex-start;
         width: 400px;
      }
   }
   &_ourInfo_contact--list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media screen and (min-width: 1200px) {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
      }
   }
   &_ourInfo_contact--item {
      margin-top: 20px;
   }
   &_contact--link {
      color: #fff;
   }

   &__content {
      background-color: #dfdfdf;
   }
   &_logo {
      width: 200px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: 170px;
   }

   &__inner {
      display: flex;
      justify-content: space-around;
   }
}
